{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="Verport" content="width=device-width, initial-scale=1.0">
  <title>Inicio - Nombre del Club</title>
    {% include "landing/lib/_style_css.html" %}
</head>

<body>
    {% include "landing/lib/_header.html"  %}
    <!-- header-end -->

    {% block "content" %}{% endblock %}
  
    <!-- footer start -->
    {% include "landing/lib/_footer.html" %}
    <!--/ footer end  -->

    <!-- JS here -->
    {% include "landing/lib/_style_js.html" %}
</body>
</html>