{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{%block title%}{%endblock%}</title>
  <link rel="stylesheet" href="{% static 'style-login/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'style-login/vendors/base/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'style-login/css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'landing/img/logo_1.jpg' %}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
        <div class="row flex-grow">
          <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="auth-form-transparent text-left p-3">
              {% block body %}
                  {% block logo %}{% endblock logo %}
                  <h4>Welcome back!</h4>
                  <h6 class="font-weight-light">Happy to see you again!</h6>
                  {% block login_form %}{% endblock login_form %}
              {% endblock %}
            </div>
          </div>
          <div class="col-lg-6 login-half-bg d-flex flex-row">
            <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; {% now "Y" %}</p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="{% static 'style-login/vendors/base/vendor.bundle.base.js'%}"></script>
  <script src="{% static 'style-login/js/template.js'%}"></script>
</body>

</html>
